<!doctype html>
<html>
  <head>


    {% if analytics_tracking_id %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-89300561-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', '{{ analytics_tracking_id }}');
    </script>
    {% endif %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Tags of sharing online -->
    <!-- Info got from https://css-tricks.com/essential-meta-tags-social-media/ -->
    {% if concept %}
    <meta property="og:title" content="{{ concept.title }}">
    <meta property="og:image" content="{{ concept.strip.image.url }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta name="twitter:card" content="summary_large_image">
    {% endif %}
    <!-- load MUI -->
    <link href="//cdn.muicss.com/mui-0.9.26/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.9.26/js/mui.min.js"></script>
  </head>
  <body>
    <!-- example content -->
    <div class="mui-container">
      <header class="mui-appbar">
        <table width="100%">
          <tr class="mui--appbar-height">
            <td class="mui--text-title">Comics</td>
            <td align="right">
              <ul class="mui-list--inline mui--text-body2 mui--text-light">
                <li><a class="mui--text-light" href="https://jnduli.co.ke">Blog</a></li>
              </ul>
            </td>
          </tr>
        </table>
      </header>
      <div class="mui-panel">
        {% if concept %}
        <div class="mui-row mui--text-center">
          <h2 class="mui-col-xs-2">
            <a class="mui-btn" href="{% url 'public:first' %}">First</a>
          </h2>
          <h2 class="mui-col-xs-3">
            <a class="mui-btn" href="{% url 'public:previous' concept.slug %}">Previous</a>
          </h2>
          <h2 class="mui-col-xs-3">
            <a class="mui-btn" href="{% url 'public:index' %}">Random</a>
          </h2>
          <h2 class="mui-col-xs-2">
            <a class="mui-btn" href="{% url 'public:next' concept.slug %}">Next</a>
          </h2>
          <h2 class="mui-col-xs-2">
            <a class="mui-btn" href="{% url 'public:last' %}">Last</a>
          </h2>
        </div>
        {% endif %}
        {% if messages %}
        <div style="background-color:#444" class="messages left-align">
          {% for message in messages %}
          {% if "info" in message.tags %}
          <div class="mui--text-light" id="info">{{ message }}</div>
          {% endif%}
          {% endfor %}
        </div>
        {% endif %}

        {% if concept %}
        <div class="mui-row mui--text-title mui--text-center">
          {{ concept.title }}
        </div>
        <div class="mui-row">
          <img class="mui-col-xs-12 mui-col-md-8 mui-col-md-offset-2 responsive-img" src="{{ concept.strip.image.url }}"></img>
        </div>


        {% if concept.public_note_html %}
        <div class="mui-row">
          {{ concept.public_note_html|safe }}
        </div>
        {% endif %}

        {% if concept.published %}
        <div class="mui-row">
          Comic published on: {{ concept.date_published.date|safe }}
        </div>
        {% endif %}

        <div class="mui-row">
          <h3>PermaLink: {{ request.build_absolute_uri }}</h3>
        </div>
        {% else %}
        <h3>No comics yet in the system</h3>
        {% endif %}
      </div>
    </div>
  </body>
</html>
