<!doctype html>
<html>
  <head>


    {% if analytics_tracking_id %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-89300561-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', '{{ analytics_tracking_id }}');
    </script>
    {% endif %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Tags of sharing online -->
    <!-- Info got from https://css-tricks.com/essential-meta-tags-social-media/ -->
    {% if concept %}
    <meta property="og:title" content="{{ concept.title }}">
    <meta property="og:image" content="{{ concept.strip.image.url }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta name="twitter:card" content="summary_large_image">
    {% endif %}
    <!-- load MUI -->
    <link href="//cdn.muicss.com/mui-0.9.26/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.9.26/js/mui.min.js"></script>
    {% load static %}
    <link href="{% static "css/public.css" %}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!-- example content -->
    <div class="mui-container">
      <header class="mui-appbar">
        <table width="100%">
          <tr class="mui--appbar-height">
            <td class="mui--text-title">Comics</td>
            <td align="right">
              <ul class="mui-list--inline mui--text-body2 mui--text-light">
                <li><a class="mui--text-light box-link" href="https://jnduli.co.ke">Blog</a></li>
              </ul>
            </td>
          </tr>
        </table>
      </header>
      <div class="mui-panel">
        {% if concept %}
        <div class="mui-row mui--text-center">
            <a class="box-link" href="{% url 'public:first' %}">first</a>
            <a class="box-link" href="{% url 'public:previous' concept.slug %}">< prev</a>
            <a class="box-link" href="{% url 'public:index' %}">random</a>
            <a class="box-link" href="{% url 'public:next' concept.slug %}">next ></a>
            <a class="box-link" href="{% url 'public:last' %}">last</a>
        </div>
        {% endif %}
        {% if messages %}
        <div style="background-color:#444" class="messages left-align">
          {% for message in messages %}
          {% if "info" in message.tags %}
          <div class="mui--text-light" id="info">{{ message }}</div>
          {% endif%}
          {% endfor %}
        </div>
        {% endif %}

        {% if concept %}
        <div class="mui-row mui--text-title mui--text-center">
          {{ concept.title }}
        </div>
        <div class="mui-row">
          <img class="mui-col-xs-12 mui-col-md-8 mui-col-md-offset-2 responsive-img" src="{{ concept.strip.image.url }}"></img>
        </div>
        <br/>

        {% if concept.public_note_html %}
        <div class="mui-row">
          {{ concept.public_note_html|safe }}
        </div>
        {% endif %}

        {% if concept.published %}
        <div class="mui-row">
            Comic published on: {{ concept.date_published.date|safe }}
        </div>
        {% endif %}

        <div class="mui-row">
          <h3>PermaLink: {{ request.build_absolute_uri }}</h3>
        </div>
        {% else %}
        <h3>No comics yet in the system</h3>
        {% endif %}
      </div>
    </div>

    <footer id="contentinfo" class="article-content">
        <p xmlns:cc="http://creativecommons.org/ns#" >This work is licensed under <a href="http://creativecommons.org/licenses/by/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY 4.0<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"></a></p>
    </footer><!-- /#contentinfo -->
  </body>

</html>
