{% extends "comics/auth.html" %}

{% block page %}

<div class="row">
    <h3>Add Concept</h3>
</div>

<div class="row s8">
    <form class="col s12" action="" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="input-field col s12">
            {{ field.errors }}
            {{ field.label_tag }}
            {{ field }}
        </div>
        {% endfor %}
        <button class="btn waves-effect waves-light" type="submit" id="concept_submit" value="submit">Submit
    </form>
</div>

{% endblock %}
