{% extends "comicsite/base_auth.html" %}

{% block page %}

<div class="row">
    <h3>Concepts</h3>
</div>

<div class="row s8">

    <table class="responsive-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Has Sketch</th>
                <th>comic published</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody> 
            {% for concept in object_list %}
            <tr>
                <td>{{ concept.title }}</td>

                {% if concept.sketch %}
                <td>Yes</td>

                {% if concept.sketch.comic %}
                <td>Yes</td>
                {% if concept.sketch.comic.published %}
                <td>published</td>
                {% else %}
                <td>unpublished</td>
                {% endif %}
                {% else %}
                <td>None</td>
                <td>unpublished</td>
                {% endif %}

                {% else %}
                <td>None</td>
                <td>None</td>
                <td>unpublished</td>
                {% endif %}
                <td><a href="{% url 'comics:detail_concept' concept.id %}">details</a></td>
            </tr>
            {% empty %}
            <tr>
                <td>No concept yet</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
