{% extends "comicsite/base_auth.html" %}

{% block page %}

<table class="mui-table mui-table--bordered">
    <thead>
        <tr>
            User Details
        </tr>
    </thead>
    <tr>  
        <td>Username: </td>
        <td>{{ object.username }}</td>
    </tr>
    <tr>
        <td> Full Names: </td>
        <td>{{ object.get_full_name }}</td>
    </tr>
    <tr>
        <td>Email: </td>
        <td>{{ object.email }}</td>
    </tr>
</table>
<a class="mui-btn mui-btn--accent" href="{% url 'userprofile:edit' request.user.id %}">Edit Details</a>

{% endblock %}
