server {
    #listen 443;
    listen 80;
    server_name {{ server_name }};
    charset utf-8;

    location / {
        # django
        include proxy_params;
        proxy_pass http://unix:{{ sock_file }};
    }
}
