{% extends "comicsite/main.html" %}
{% block content %}
<header class="mui-appbar">
    <table width="100%">
        <tr class="mui--appbar-height">
            <td class="mui--text-title"><a class="mui--text-light" href="{% url 'comics:index' %}">Comics</a></td>
            <td class="mui--appbar-height"><a class="mui--text-light" href="{% url 'concept:add_concept' %}">Add Concept</a></td>
            <td class="mui--appbar-height"><a class="mui--text-light" target="_self" href="{% url 'concept:list_concepts' %}">Concepts</a></td>
            <td class="mui--appbar-height"><a class="mui--text-light" target="_self" href="{% url 'concept:list_concepts' %}?filter=True">Published Concepts</a></td>
            <td class="mui--appbar-height"><a class="mui--text-light" target="_self" href="{% url 'concept:list_concepts' %}?filter=False">Unpublished Concepts</a></td>
            <td align="right">
                <div class="mui-dropdown">
                    <button class="mui-btn mui-btn--primary" data-mui-toggle="dropdown">
                        Account
                        <span class="mui-caret"></span>
                    </button>
                    <ul class="mui-dropdown__menu mui-dropdown__menu--right">
                        <li><a href="{% url 'userprofile:details' request.user.id %}">Profile</a></li>
                        <li><a href="{% url 'auth:logout' %}">Logout</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
</header>

{% block page %}
body
{% endblock%}
{% endblock %}
