{% if messages %}
<div class="messages mui--text-left">
  {% for message in messages %}
    {% if "info" in message.tags %}
    <div class="mui-panel mui--bg-primary" id="info">{{ message }}</div>
    {% elif "success" in message.tags %}
    <div class="mui-panel mui--bg-primary-light" id="success">{{ message }}</div>
    {% elif "error" in message.tags %}
    <div class="mui-panel mui--bg-danger" id="error">{{ message }}</div>
    {% elif "warning" in message.tags %}
    <div class="mui-panel mui--bg-accent-hint" id="warning">{{ message }}</div>
    {% else %}
    <div class="mui-panel" id="message">{{ message }}</div>
    {% endif%}
  {% endfor %}
</div>
{% endif %}
