{% extends "comicsite/main.html" %}

{% block content %}
<div class="panel">
    <div class='mui--text-title'>Login</div>
    <div class="panel">
        {% if error_message %} 
        <div class="mui-panel mui--bg-danger">
            {{ error_message }} 
        </div>
        {% endif %}
        <form class="mui-form" action="{% url 'auth:login' %}" method="post">
            {% csrf_token %}
            <div class='mui-textfield'>
                <input type='email' id='email' name='email' required placeholder='Email'>
                <label>Email</label>
            </div>
            <div class='mui-textfield'>
                <input type='password' id='password' name='password' required placeholder='Password'>
                <label>Password</label>
            </div>
            <button type="submit" class="mui-btn mui-btn--raised">Submit</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
