{% extends "comicsite/base_auth.html" %}

{% block page %}

<header id="concept-header" class="mui-row">
    <div class="mui-col-md-6 mui--text-headline">{{ object.title }}</div>
    <h5 class="mui-col-md-6 mui--text-title mui--text-right">
        {% if object.published %}
        <a href="{% url 'concept:publish_concept' object.id %}">Unpublish</a>
        {% else %}
        <a href="{% url 'concept:publish_concept' object.id %}">Publish</a>
        {% endif %}
    </h5>
</header>

<table class="mui-table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Contents</th>
        </tr>
    </thead>
    <tr>
        <td>Description: </td><td>{{ object.description }}</td>
    </tr>
    <tr>
        <td>Conversation: </td><td>{{ object.conversation_html|safe }}</td>
    </tr>
    <tr>
        <td>Date Created: </td><td>{{ object.date_created }}</td>
    </tr>
    <tr>
        <td>User: </td><td>{{ object.user.name }}</td>
    </tr>
    <tr>
        <td>Characters Number: </td><td>{{ object.characters_no }}</td>
    </tr>
    <tr>
        {% if concept.published %}
        <td>Date Published: </td><td>{{ object.date_published }}</td>
        {% endif %}
    </tr>
    <tr>
        {% if concept.published %}
        <td>Published URL: </td><td><a target="_blank" href="{{ request.scheme }}://{{ request.get_host }}{% url 'public:slug'  object.slug %}">{{ object.slug }}</a></td>
        {% endif %}
    </tr>
    <tr>
        <td><a href="{% url 'concept:edit_concept' object.id %}">Edit concept details</a></td>
    </tr>
</table>


<div>
    <div class="mui-row mui--text-title">Sketch</div>
    {% if object.sketch %}
    <div class="mui-row">
        <img id='sketch_image' class="mui-col-xs-12 mui-col-md-8 mui-col-md-offset-2 responsive-img" src="{{ object.sketch.image.url }}"></img>
    </div>
    {% endif %}

    <div class="mui-row">
        {% if object.sketch %}
        <a class="mui-btn mui-btn--primary" id="sketch_edit" href="{% url 'sketch:sketch_edit' object.id %}">Edit Sketch</a>
        {% else %}
        <a class="mui-btn mui-btn--accent" id="sketch_add" href="{% url 'sketch:sketch_create' object.id %}">Add Sketch</a>
        {% endif %}
    </div>
</div>

<div>
    <div class="mui-row mui--text-title">Gimp</div>
    <div class="mui-row">
        {% if object.sketch and object.gimp %}
        <!-- add file download path -->
        <a class="mui-btn mui-btn--raised" href="{{ object.gimp.file_gimp.url }}">Gimp File Download</a>
        <!-- <img id='sketch_image' class="responsive-img" src="{{ object.sketch.image.url }}"></img> -->
        <a class="mui-btn mui-btn--primary" id="gimp_edit" href="{% url 'gimp:gimp_edit' object.id %}">Edit Gimp File</a>
        {% elif object.sketch %}
        <a class="mui-btn mui-btn--accent" id="gimp_add" href="{% url 'gimp:gimp_create' object.id %}">Add Gimp File</a>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="mui-row mui--text-title">Comic Strip</div>
    {% if object.sketch and object.gimp and object.strip %}
    <div class="mui-row">
        <!-- add file download path -->
        <img id='strip_image' class="mui-col-xs-12 mui-col-md-8 mui-col-md-offset-2 responsive-img" src="{{ object.strip.image.url }}"></img>
    </div>
    <div class="mui-row">
        <a class="mui-btn mui-btn--primary" id="strip_edit" href="{% url 'strip:strip_edit' object.id %}">Edit Strip</a>
    </div>
    {% elif object.sketch and object.gimp %}
    <a class="mui-btn mui-btn--accent" id="strip_add" href="{% url 'strip:strip_create' object.id %}">Add Strip</a>
    {% endif %}
</div>

{% endblock %}
